.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
.fighter-preview___img {
  height: 50vh;
} 
.white-text {
  width: 100%;
  color: white;
  font: 600 18px Verdana, Arial;
  text-align: center;
}
